#container1 {
  padding: 5px;
  margin: 5px;
  border: solid;
  border-color: #5b4000;
  border-width: 5px;
  box-sizing: border-box;
  height: 90px;
}

#container2 {
  padding:5px;
  border: solid;
  border-color: #0e5252;
  border-width: 5px;
  box-sizing: border-box;
  height: 100px;
}
